@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* overflow-y: hidden; */
  scroll-behavior: smooth;
}

html,
body {
  @apply size-full;
}

body {
  @apply font-sans antialiased;
  @apply flex flex-col;
  @apply text-gray-800 dark:text-white/80;
  @apply bg-white dark:bg-neutral-950;
}

main {
  @apply flex-1;
}

p {
  text-wrap: pretty;
}

.library-wrapper {
  height: calc(100vh - theme('height.16'));
}
