@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

html,
body {
  @apply size-full;
}

body {
  @apply font-sans antialiased;
  @apply text-gray-800 dark:text-white/75;
}

main {
  @apply size-full;
  @apply flex flex-col;
  @apply min-h-[calc(100vh-4rem)];
}

p {
  text-wrap: pretty;
}